@font-face {
    font-family: "AA Stetica Regular";
    src: url(../fonts/AA-Stetica-Regular-BF6749235ad0084.otf);
}

@font-face {
    font-family: "Cormorant SC";
    src: url(../fonts//Cormorant_SC/CormorantSC-Regular.ttf);
}

@font-face {
    font-family: "Czizh";
    src: url(../fonts/czizh/Czizh\ Body.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
}

/*----------Хэдер----------*/
.upper_header {
    padding: 17px calc(20px + (100 - 20) * ((100vw - 350px) / (1920 - 350)));
    gap: calc(5px + (76 - 5) * ((100vw - 350px) / (1920 - 350)));
    font-family: "AA Stetica Regular";
    display: flex;
    justify-content: center;
}

.Logo img {
    width: 124px;
    height: 46px;
}

.Text_nav,
.Text_info {
    display: flex;
    gap: calc(5px + (76 - 5) * ((100vw - 350px) / (1920 - 350)));
    color: #6B2B00;
}

.Text_nav h2,
.Text_info p {
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 1%;
}

.Text_nav p,
.Text_info h2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 1%;

}

.Text_nav a,
.Text_info a {
    text-decoration: none;
    color: #6B2B00;
}

.Text_info a {
    font-weight: 700;
}

.lower_header {
    padding: 32px calc(20px + (100 - 20) * ((100vw - 350px) / (1920 - 350)));
    gap: calc(5px + (150 - 5) * ((100vw - 350px) / (1920 - 350)));
    display: flex;
    justify-content: center;
    background-color: #6B2B00;
    font-family: "AA Stetica Regular";
}

.lower_header nav {
    display: flex;
    gap: calc(5px + (140 - 5) * ((100vw - 350px) / (1920 - 350)));

}

.lower_header nav a {
    text-decoration: none;
    white-space: nowrap;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 1%;
    transition: all 300ms ease;

}

.lower_header nav a:hover {
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
    color: #fff;
}

.Language {
    display: flex;
    gap: 10px;
}

#Choose_language {
    background-color: #6B2B00;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 1%;
    outline: none;
    border: none;
    cursor: pointer;
}

.main_header {
    display: flex;
    flex-direction: column;
}

.burger_header {
    display: none;
}

.selectAndBurger {
    display: flex;
    gap: 16px;
}



/* ------ Главный экран контакты ------ */
/* ------ Хлебные крошки ------ */
.breadcrumbs {
    font-family: "AA Stetica Regular";
    font-size: 18px;
    color: #6B2B00;
}

.breadcrumbs a {
    color: #382D2D;
    text-decoration: none;
    font-family: "AA Stetica Regular";
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 1%;

}

.breadcrumbs span a {
    color: #382D2D80;
}

main {
    background-image: url('/images/stars_main_aboutPark.png');
    background-repeat: no-repeat;
    background-position: right top;
}

.HeadingContacts .ContactsText {
    padding: calc(48px + (80 - 48) * ((100vw - 350px) / (1920 - 350))) calc(17px + (100 - 17) * ((100vw - 350px) / (1920 - 350)));
}

.HeadingContacts {
    position: relative;
}

.HeadingContacts h1 {
    font-family: "Cormorant SC";
    font-weight: 700;
    font-size: calc(56px + (180 - 56) * ((100vw - 350px) / (1920 - 350)));
    line-height: 100%;
    text-transform: uppercase;
    color: #81332F;
    margin-top: calc(24px + (56 - 24) * ((100vw - 350px) / (1920 - 350)));

}

.HeadingContacts img {
    position: absolute;
    object-fit: contain;
    top: 5%;
    right: 0.5%;
    max-height: calc(200px + (534 - 200) * ((100vw - 350px) / (1920 - 350)));
    margin-top: calc(24px + (100 - 24) * ((100vw - 350px) / (1920 - 350)));
}

/* ------ Карточки ------ */
.news-cards {
    padding: calc(48px + (80 - 48) * ((100vw - 350px) / (1920 - 350))) calc(17px + (100 - 17) * ((100vw - 350px) / (1920 - 350)));

}

.cards-grid {
    display: grid;
    gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    margin-bottom: calc(40px + (64 - 40) * ((100vw - 350px) / (1920 - 350)));
}

.card {
    position: relative;
    border: 1px solid #6B2B00;
    border-radius: 16px;
    padding: calc(16px + (24 - 16) * ((100vw - 350px) / (1920 - 350)));
    background: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.card-image-container {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}

.card-image-container img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
}

.event-ended-label {
    position: absolute;
    top: 12px;
    left: 12px;
    background-color: #43CD58;
    color: white;
    padding: 6px 12px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 8px;
    z-index: 2;
    font-family: 'AA Stetica Regular', sans-serif;
}

.card h3 {
    font-family: "AA Stetica Regular";
    font-weight: 700;
    font-size: calc(18px + (22 - 18) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
    margin: 24px 0 8px 0;
    color: #382D2D;
}

.card p {
    font-family: "AA Stetica Regular";
    font-weight: 400;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
    margin-bottom: 32px;
    color: #382D2D;
}

.card .calendarDate {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dataAndlocation {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card button {
    width: 100%;
    padding: 16px 56px;
    border-radius: 16px;
    border: 1px solid transparent;
    outline: none;
    background-color: #6B2B00;
    color: #FFFDF9;
    font-family: "AA Stetica Regular";
    font-weight: 300;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
}

.card button:hover {

    background-color: #8a3c00;
    border: 1px solid #6B2B00;
}

.card.show {
    opacity: 1;
    transform: translateY(0);
}

.card img {
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
}

.load-more {
    display: block;
    width: 100%;
    padding: 16px 56px;
    background-color: #6B2B00;
    border: 1px solid #6B2B00;
    border-radius: 16px;
    cursor: pointer;
    font-family: "AA Stetica Regular";
    font-weight: 300;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
    color: #FFFDF9;
}

.load-more:hover {
    background-color: #8a3c00;
}

main {
    background-image: url('../images/news_button_stars.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

/* ------ Футер ------ */
footer {
    background-color: #6B2B00;
    background-image: url('../images/starsforFooter.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    padding: calc(32px + (64 - 32) * ((100vw - 350px) / (1920 - 350))) 100px 0;
}

.upperFooter {
    display: flex;
    justify-content: space-between;
    margin-bottom: calc(32px + (64 - 32) * ((100vw - 350px) / (1920 - 350)));
}

.Navigation h4,
.SocialMedia h4,
.ContactsAndAddress h4,
.SocialMediaIcons h4 {
    font-family: "AA Stetica Regular";
    font-weight: 700;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
    color: #FFFDF9;
    margin-bottom: 16px;
}

.Navigation nav,
.ContactsAndAddress p {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
    font-family: "AA Stetica Regular";
    font-weight: 300;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
    color: #FFFDF9;
}

.Navigation nav a {
    text-decoration: none;
    color: #FFFDF9;
}

.SocialMedia {
    gap: 8px 0;
    font-family: "AA Stetica Regular";
    font-weight: 300;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
}

.SocialMedia a {
    text-decoration: underline;
    color: #FFFDF9;
}

.ContactsAndAddress {
    display: flex;
    flex-direction: column;
    gap: 40px 0;
}

.ContactsAndAddress a {
    text-decoration: none;
}

.lowerFooter {
    display: flex;
    padding: 40px 0;
    justify-content: space-between;
    border-top: 1px solid #FFFDF980;
    font-family: "AA Stetica Regular";
    font-weight: 400;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
    color: #FFFDF9;
    flex-wrap: wrap;
}

.lowerFooter a {
    text-decoration: none;
    color: #FFFDF9;
    cursor: pointer;
}



@media (min-width: 1024px) {

    .SocialMedia {
        display: flex;
        flex-direction: column;
    }

    .SocialMediaIcons {
        display: none;
    }
}

@media (max-width:1024px) {
    .main_header {
        display: none;
    }

    .burger_header {
        display: flex;
        align-items: center;
        padding: 16px;
    }

    .burger_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .burger-logo {
        width: 123px;
        height: 46px;
    }

    .burger-button {
        width: 46px;
        height: 46px;
        background-color: #6B2B00;
        border-radius: 8px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
    }

    #burger-language {
        padding: 11px 12px;
        border-radius: 8px;
        border: 1px, solid, #6B2B00;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .burgerSelect {
        border: none;
        outline: none;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 1%;
        color: #6B2B00;
    }

    .close-button {
        align-self: flex-end;
        width: 40px;
        height: 40px;
        background-color: white;
        border-radius: 8px;
        border: 1px, solid, #6B2B00;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: #6B2B00;
    }

    .mobile-menu {
        position: fixed;
        box-sizing: border-box;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        display: none;
        flex-direction: column;
        padding: 24px;
        z-index: 999;
        background-image: url('/images/starsCornerbottom.png');
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .mobile-menu.active {
        display: flex;
    }

    .moblebuttonAndText {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .moblebuttonAndText h2 {
        font-family: "AA Stetica Regular";
        font-weight: 700;
        font-size: 30px;
        line-height: 110%;
        letter-spacing: 0%;
        text-align: center;
        text-transform: uppercase;
        color: #6B2B00;

    }

    .Navigations {
        margin-top: 20px;
        justify-content: center;
        gap: calc(30px + (140 - 30) * ((100vw - 350px) / (1920 - 350)));
        display: flex;
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 20px;
    }

    .mobile-nav a {
        display: flex;
        gap: 8px;
        justify-content: start;
        align-items: center;
        opacity: 0;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    .mobile-nav a img {
        max-width: 15px;
        max-height: 15px;
        border: 1px solid #6b2b00a2;
        border-radius: 8px;
        padding: 5px;
    }

    .mobile-menu.active .mobile-nav:first-child a {
        animation-name: slidein-left;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
    }

    .mobile-menu.active .mobile-nav:last-child a {
        animation-name: slidein-right;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
    }

    /* Для всех ссылок по порядку */
    .mobile-menu.active .mobile-nav a:nth-child(1) {
        animation-delay: 0.2s;
    }

    .mobile-menu.active .mobile-nav a:nth-child(2) {
        animation-delay: 0.4s;
    }

    .mobile-menu.active .mobile-nav a:nth-child(3) {
        animation-delay: 0.6s;
    }

    .mobile-menu.active .mobile-nav a:nth-child(4) {
        animation-delay: 0.8s;
    }

    @keyframes slidein-left {
        from {
            margin-left: -100%;
            opacity: 0;
        }

        to {
            margin-left: 0;
            opacity: 1;
        }
    }

    @keyframes slidein-right {
        from {
            margin-left: 100%;
            opacity: 0;
        }

        to {
            margin-left: 0;
            opacity: 1;
        }
    }

    .mobile-nav a {
        color: #6B2B00;
        text-decoration: none;
        font-family: "AA Stetica Regular";
        font-weight: 400;
        font-size: calc(16px + (40 - 16) * ((100vw - 350px) / (1920 - 350)));
        line-height: 130%;
        letter-spacing: 1%;
    }

    .mobileContacts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: center;
        margin-top: 64px;
        background-color: #fffdf991;
    }

    .mobileContacts .Address,
    .social-media {
        grid-column: 1/3;
        border: 1px solid #6B2B00;
        border-radius: 16px;
        padding: 20px;
    }

    .social-media {
        border: none;
        text-align: center;
    }

    .social-media a {
        border: 1px solid #6B2B00;
    }

    .mobileContacts .Time,
    .mobileContacts .phoneAndEmail {
        height: 125px;
        border: 1px solid #6B2B00;
        border-radius: 16px;
        padding: 20px;
    }

    .mobileContacts .Address h4,
    .mobileContacts .Time h4,
    .mobileContacts .phoneAndEmail h4 {
        font-family: "AA Stetica Regular";
        font-weight: 700;
        font-size: calc(20px + (40 - 20) * ((100vw - 350px) / (1920 - 350)));
        line-height: 130%;
        letter-spacing: 1%;
        color: #6B2B00;
        margin-bottom: 20px;
    }

    .mobileContacts .Address p,
    .mobileContacts .Time p,
    .mobileContacts .phoneAndEmail p {
        font-family: "AA Stetica Regular";
        font-weight: 400;
        font-size: calc(16px + (30 - 16) * ((100vw - 350px) / (1920 - 350)));
        line-height: 130%;
        letter-spacing: 1%;
        color: #6B2B00;
        max-width: 300px;
    }

    .phoneAndEmail a {
        text-decoration: none;
    }

    .contactsInfo {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    /*----- Футер -----*/

    footer {
        background-image: url('../images/starsfooterRightCorner.png');
        background-repeat: no-repeat;
        background-position: right top;
    }

    .lowerFooter {
        gap: 16px 140px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .upperFooter {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 40px 0;
    }

    .SocialMedia {
        display: none;
    }

    .SocialMediaIcons {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .iconsNav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }

    .iconsNav a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px;
        background-color: #FFFDF9;
        border-radius: 100%;
    }
}

@media (max-width:680px) {
    .socialmedia_email {
        display: flex;
        flex-direction: column;
    }

    .socialmedia_email .socialmedia {
        width: auto;
    }

    .socialmedia_email .email {
        width: auto;
    }
}