@font-face {
    font-family: "AA Stetica Regular";
    src: url(../fonts/AA-Stetica-Regular-BF6749235ad0084.otf);
}

@font-face {
    font-family: "Cormorant SC";
    src: url(../fonts//Cormorant_SC/CormorantSC-Regular.ttf);
}

@font-face {
    font-family: "Czizh";
    src: url(../fonts/czizh/Czizh\ Body.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
}

/*----------Хэдер----------*/
.upper_header {
    padding: 17px calc(20px + (100 - 20) * ((100vw - 350px) / (1920 - 350)));
    gap: calc(5px + (76 - 5) * ((100vw - 350px) / (1920 - 350)));
    font-family: "AA Stetica Regular";
    display: flex;
    justify-content: center;
}

.Logo img {
    width: 124px;
    height: 46px;
}

.Text_nav,
.Text_info {
    display: flex;
    gap: calc(5px + (76 - 5) * ((100vw - 350px) / (1920 - 350)));
    color: #6B2B00;
}

.Text_nav h2,
.Text_info p {
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 1%;
}

.Text_nav p,
.Text_info h2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 1%;

}

.Text_nav a,
.Text_info a {
    text-decoration: none;
    color: #6B2B00;
}

.Text_info a {
    font-weight: 700;
}

.lower_header {
    padding: 32px calc(20px + (100 - 20) * ((100vw - 350px) / (1920 - 350)));
    gap: calc(5px + (150 - 5) * ((100vw - 350px) / (1920 - 350)));
    display: flex;
    justify-content: center;
    background-color: #6B2B00;
    font-family: "AA Stetica Regular";

}

.lower_header nav {
    display: flex;
    gap: calc(5px + (140 - 5) * ((100vw - 350px) / (1920 - 350)));

}

.lower_header nav a {
    text-decoration: none;
    white-space: nowrap;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 1%;
    transition: all 300ms ease;

}

.lower_header nav a:hover {
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
    color: #fff;
}

.Language {
    display: flex;
    gap: 10px;
}

#Choose_language {
    background-color: #6B2B00;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 1%;
    outline: none;
    border: none;
    cursor: pointer;
}

.main_header {
    display: flex;
    flex-direction: column;
}

.burger_header {
    display: none;
}

.selectAndBurger {
    display: flex;
    gap: 16px;
}

/* ------ Главный экран о парке ------ */
/* ------ Хлебные крошки ------ */
.breadcrumbs a {
    color: #382D2D;
    text-decoration: none;
    font-family: "AA Stetica Regular";
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 1%;

}

.breadcrumbs span a{
    color: #382D2D80;
}

main {
    background-image: url('/images/stars_main_aboutPark.png');
    background-repeat: no-repeat;
    background-position: right top;
}

.for_crafts_textsAndNav {
    padding: calc(48px + (80 - 48) * ((100vw - 350px) / (1920 - 350))) calc(17px + (100 - 17) * ((100vw - 350px) / (1920 - 350)))0;
}

.for_crafts_textsAndNav h1 {
    font-family: "Cormorant SC";
    font-weight: 700;
    font-size: calc(56px + (155 - 56) * ((100vw - 350px) / (1920 - 350)));
    line-height: 100%;
    text-transform: uppercase;
    color: #81332F;
    margin-top: calc(24px + (56 - 24) * ((100vw - 350px) / (1920 - 350)));
    hyphens: auto;
    overflow-wrap: break-word;
}

.for_crafts img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-height: calc(200px + (534 - 200) * ((100vw - 350px) / (1920 - 350)));
    margin-top: calc(24px + (100 - 24) * ((100vw - 350px) / (1920 - 350)));
}

/* ------ для ремесленников ------ */
.for_crafts_text {
    padding: calc(64px + (200 - 64) * ((100vw - 350px) / (1920 - 350))) calc(20px + (100 - 20) * ((100vw - 350px) / (1920 - 350))) 0;
}

.crafts_text h2 {
    font-family: "Cormorant SC";
    font-weight: 700;
    font-size: calc(30px + (48 - 30) * ((100vw - 350px) / (1920 - 350)));
    line-height: 110%;
    text-indent: 167.5px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #6B2B00;
}

.crafts_icon {
    position: absolute;
    object-fit: contain;
    object-position: bottom left;
    left: -50px;
}

.crafts_paragraphs {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-left: auto;
    text-align: start;
    gap: 16px;
    max-width: 927px;
    margin-top: calc(24px + (32 - 24) * ((100vw - 350px) / (1920 - 350)));
}

.crafts_paragraphs p {
    max-width: 671px;
    font-family: "AA Stetica Regular";
    font-weight: 300;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
    color: #382D2D;
}

/* ------ Возможности ------ */
.facilities {
    margin: calc(64px + (200 - 64) * ((100vw - 350px) / (1920 - 350))) calc(20px + (100 - 20) * ((100vw - 350px) / (1920 - 350))) 0;
}

.facilities-header {
    display: flex;
    justify-content: center;
}

.facilities-header h2 {
    font-family: "Cormorant SC";
    font-weight: 700;
    font-size: calc(30px + (48 - 30) * ((100vw - 350px) / (1920 - 350)));
    line-height: 110%;
    text-transform: uppercase;
    color: #6B2B00;
}

.facilities-header .swiper-button-next-facilities,
.facilities-header .swiper-button-prev-facilities {
    display: none;
}

.facilitiesSwiper .swiper-slide {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100%;
}

.facilities-cards {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid #6B2B00;
    border-radius: 16px;
    padding: calc(16px + (24 - 16) * ((100vw - 350px) / (1920 - 350)));
    margin-top: calc(32px + (48 - 32) * ((100vw - 350px) / (1920 - 350)));
}

.facilitiesImg img {
    width: 100%;
    max-height: 220px;
    border-radius: 16px;
    object-fit: cover;
    object-position: center;
}

.facilitiesText {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    margin-top: calc(16px + (24 - 16) * ((100vw - 350px) / (1920 - 350)));
    color: #382D2D;
    text-align: center;
}

.facilitiesText h3 {
    font-family: "AA Stetica Regular";
    font-weight: 700;
    font-size: calc(18px + (22 - 18) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
    text-align: center;
}

.facilitiesText p {
    font-family: "AA Stetica Regular";
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
    text-align: center;

}

.swiper-nav-buttons {
    justify-content: center;
    margin-top: 24px;
}

/* ------ Почему парк Навруз ------ */
.choosing_parkCrafts {
    padding: calc(120px + (200 - 120) * ((100vw - 350px) / (1920 - 350))) calc(20px + (100 - 20) * ((100vw - 350px) / (1920 - 350)));
}

.choosing_parkCrafts h2 {
    font-family: "Cormorant SC";
    font-weight: 700;
    font-size: calc(30px + (48 - 30) * ((100vw - 350px) / (1920 - 350)));
    line-height: 110%;
    text-transform: uppercase;
    color: #6B2B00;
    margin-bottom: calc(24px + (56 - 24) * ((100vw - 350px) / (1920 - 350)));
    text-align: center;
}

.choosing_parkGallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
    align-items: stretch;
}

.choosing_parkGallery .choosing_photo_card.large {
    grid-column: span 1;
    grid-row: span 2;
}

.choosing_parkGallery .choosing_photo_card.medium {
    grid-column: span 2;
    grid-row: span 1;
}

.choosing_parkGallery .choosing_photo_card {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.choosing_parkGallery .choosing_photo_card img {
    width: 100%;
    height: 250px;
    display: block;
    object-fit: cover;
    flex-grow: 1;
    transition: transform 0.3s ease;

}

.choosing_photo_card .photo-gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0)50%, rgba(0, 0, 0, 0.5) 100%);
    pointer-events: none;
}

.choosing_parkGallery .choosing_photo_card p {
    position: absolute;
    bottom: 12px;
    left: 12px;
    right: 12px;
    color: #FFFDF9;
    font-family: "AA Stetica Regular";
    font-weight: 300;
    font-size: calc(18px + (22 - 18) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
    text-transform: uppercase;
    text-decoration: underline;
    z-index: 99;
}

.choosing_parkGallery .choosing_photo_card:hover img {
    transform: scale(1.05);
}

/* ------ Как арендовать ------ */
.HowToRent {
    background-color: #6B2B00;
    background-image: url('/images/howtorent_stars.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.HowToRent_text {
    padding: calc(40px + (72 - 40) * ((100vw - 350px) / (1920 - 350))) calc(20px + (100 - 20) * ((100vw - 350px) / (1920 - 350)));

}

.HowToRent_text h2 {
    font-family: "Cormorant SC";
    font-weight: 700;
    font-size: calc(30px + (48 - 30) * ((100vw - 350px) / (1920 - 350)));
    line-height: 110%;
    text-indent: 167.5px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #FFFDF9;
}

.HowToRent_paragraphs {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-left: auto;
    text-align: start;
    gap: 16px;
    max-width: 927px;
    margin-top: calc(24px + (32 - 24) * ((100vw - 350px) / (1920 - 350)));
    border-bottom: 1px solid #FFFDF9;
}

.HowToRent_paragraphs p,
.HowToRent_paragraphs ol {
    max-width: 671px;
    font-family: "AA Stetica Regular";
    font-weight: 300;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
    color: #FFFDF9;

}

.HowToRent_paragraphs ol {
    padding-left: 20px;
    margin-bottom: 40px;
}

.HowToRent_button {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.HowToRent_button button {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    padding: 16px 24px;
    border-radius: 16px;
    border: 1px solid #FFFDF9;
    background-color: #FFFDF9;
    color: #6B2B00;
    font-family: "AA Stetica Regular";
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 1%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.HowToRent_button button:hover {
    background-color: #f0eae4;
}

.HowToRent_button svg {
    flex-shrink: 0;
}

/* Спонсоры*/

.sponsors {
    padding: calc(120px + (200 - 120) * ((100vw - 350px) / (1920 - 350))) 0;
}

.sponsors h2 {
    font-family: "Cormorant SC";
    font-weight: 700;
    font-size: calc(30px + (48 - 30) * ((100vw - 350px) / (1920 - 350)));
    line-height: 110%;
    text-transform: uppercase;
    color: #6B2B00;
    text-align: center;

}

.partnersSwiper .swiper-slide {
    width: auto;
}

.partner-card {
    margin-top: calc(24px + (48 - 24) * ((100vw - 350px) / (1920 - 350)));
    padding: 16px 24px;
    border: 1px solid #6B2B00;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partner-card img {
    max-height: 60px;
}

/*Форма для отправки*/
.planningForm {
    margin: calc(64px + (200 - 64) * ((100vw - 350px) / (1920 - 350))) calc(20px + (100 - 20) * ((100vw - 350px) / (1920 - 350)));

}

.planningForm h2 {

    font-family: "Cormorant SC";
    font-weight: 700;
    font-size: calc(30px + (48 - 30) * ((100vw - 350px) / (1920 - 350)));
    line-height: 110%;
    text-transform: uppercase;
    text-align: center;
    color: #6B2B00;

}

.planningForm p {
    font-family: "AA Stetica Regular";
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 1%;
    text-align: center;
    margin: 16px 0 48px 0;
}

.planningForm {
    background: url('/images/starsForm.png');
    background-repeat: no-repeat;
    background-position: left;
}

.contact-form {
    width: 100%;
}

.form-row {
    display: flex;
    gap: 16px;
    width: 100%;
}

.form-group {
    position: relative;
    width: 100%;
}

.form-group svg {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    pointer-events: none;
}

.comments svg {
    position: absolute;
    top: 20%;
    right: 20px;
    transform: translateY(-50%);
    pointer-events: none;
}


.form-group input {
    width: 100%;
    padding: 16px;
    border: 1px solid #6B2B00;
    border-radius: 16px;
    font-family: "AA Stetica Regular";
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 1%;
    outline: none;
    box-sizing: border-box;
}

.form-group textarea {
    margin: 16px 0;
    width: 100%;
    height: 180px;
    padding: 16px;
    border: 1px solid #6B2B00;
    border-radius: 16px;
    font-family: "AA Stetica Regular";
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 1%;
    outline: none;
    box-sizing: border-box;
}

.submit-btn {
    display: block;
    width: 100%;
    background-color: #6B2B00;
    color: #fff;
    font-size: 16px;
    padding: 16px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    margin-bottom: 8px;
    transition: background 0.3s;
}

.submit-btn:hover {
    background-color: #8a3c00;
}

.contact-form .form-policy {
    font-size: 16px;
    color: #333;
    text-align: center;
}

/* ------ Контакты ------ */

.contactsInfo {
    margin: calc(64px + (200 - 64) * ((100vw - 350px) / (1920 - 350))) calc(20px + (100 - 20) * ((100vw - 350px) / (1920 - 350)));
    display: flex;
    gap: 20px;
}

.contacts {
    flex: 1;
}

.address {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: #6B2B00;
    color: #fff;
    border-radius: 16px;
}

.address h4 {
    margin-bottom: calc(24px + (40 - 24) * ((100vw - 350px) / (1920 - 350)));
    font-family: "AA Stetica Regular";
    font-weight: 400;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;

}

.address p {
    font-family: "AA Stetica Regular";
    font-weight: 700;
    font-size: calc(18px + (22 - 18) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
}

.map {
    position: relative;
    width: 690px;
}

.map iframe {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.map.active iframe {
    pointer-events: auto;
}

.map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 2;
    background: transparent;
}

.contact-data {
    display: flex;
    margin-top: 20px;
    gap: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
}

.contact-data .phone {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: calc(24px + (40 - 24) * ((100vw - 350px) / (1920 - 350)));
    border: 1px solid #6B2B00;
    border-radius: 16px;
    width: 100%;
}

.contact-data .phone h4,
.time h4,
.howToReach h4 {
    font-family: "AA Stetica Regular";
    font-weight: 300;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
    color: #382D2D;
}

.contact-data .phone a {
    text-decoration: none;
}

.contact-data .phone p,
.time p {
    font-family: "AA Stetica Regular";
    font-weight: 700;
    font-size: calc(18px + (22 - 18) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;

    color: #382D2D;
}

.contact-data .time {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: calc(24px + (40 - 24) * ((100vw - 350px) / (1920 - 350)));

    border: 1px solid #6B2B00;
    border-radius: 16px;
    width: 100%;
}

.howToReach {
    display: flex;
    flex-direction: column;
    border: 1px solid #6B2B00;
    border-radius: 16px;
    padding: 24px;
    margin-top: calc(16px + (24 - 16) * ((100vw - 350px) / (1920 - 350)));
    gap: calc(24px + (40 - 24) * ((100vw - 350px) / (1920 - 350)));
}

.howToReach .Bus h4,
.subway h4 {
    font-weight: 700;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
    margin-bottom: 8px;
}

.howToReach .Bus p {
    font-family: "AA Stetica Regular";
    font-weight: 300;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;

}

.subway-stations {
    display: flex;
    gap: 8px 24px;
    flex-wrap: wrap;
}

.metro {
    display: flex;
    gap: 10px;
    font-family: "AA Stetica Regular";
    font-weight: 300;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;

}

/* Вопросы*/
.faq-block {
    padding: 0 calc(20px + (100 - 20) * ((100vw - 350px) / (1920 - 350)));
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.faq-block h2 {
    font-family: "Cormorant SC";
    font-weight: 700;
    font-size: calc(30px + (48 - 30) * ((100vw - 350px) / (1920 - 350)));
    line-height: 110%;
    text-transform: uppercase;
    color: #6B2B00;
    margin-bottom: calc(24px + (48 - 24) * ((100vw - 350px) / (1920 - 350)));
}

.faq-item {
    border: 1px solid #6B2B00;
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    background: transparent;
    color: #6B2B00;
    font-family: "AA Stetica Regular";
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
    transition: all 0.3s ease;
}

.faq-icon {
    display: inline-block;
    font-size: 24px;
    transition: transform 0.3s ease;
}

.faq-answer {
    max-height: 0;
    padding: 0 20px;
    color: #382D2D;
    font-family: "AA Stetica Regular";
    font-size: 16px;
    line-height: 1.5;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.3s ease;
}

.faq-item.active .faq-answer {
    max-height: 300px;
    padding: 16px 20px 20px;
}


.faq-item.active .faq-icon {
    transform: rotate(45deg);
}

/* Футер*/
footer {
    background-color: #6B2B00;
    background-image: url('/images/starsforFooter.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    padding: calc(32px + (64 - 32) * ((100vw - 350px) / (1920 - 350))) 100px 0;
}

.upperFooter {
    display: flex;
    justify-content: space-between;
    margin-bottom: calc(32px + (64 - 32) * ((100vw - 350px) / (1920 - 350)));
}

.Navigation h4,
.SocialMedia h4,
.ContactsAndAddress h4,
.SocialMediaIcons h4 {
    font-family: "AA Stetica Regular";
    font-weight: 700;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
    color: #FFFDF9;
    margin-bottom: 16px;
}

.Navigation nav,
.ContactsAndAddress p,
.ContactsAndAddress a {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
    font-family: "AA Stetica Regular";
    font-weight: 300;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
    color: #FFFDF9;
}

.Navigation nav a {
    text-decoration: none;
    color: #FFFDF9;
}

.SocialMedia {
    gap: 8px 0;
    font-family: "AA Stetica Regular";
    font-weight: 300;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
}

.SocialMedia a {
    text-decoration: underline;
    color: #FFFDF9;
}

.ContactsAndAddress {
    display: flex;
    flex-direction: column;
    gap: 40px 0;
}

.ContactsAndAddress a {
    text-decoration: none;
    color: #FFFDF9;
}

.lowerFooter {
    display: flex;
    padding: 40px 0;
    justify-content: space-between;
    border-top: 1px solid #FFFDF980;
    font-family: "AA Stetica Regular";
    font-weight: 400;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
    color: #FFFDF9;
    flex-wrap: wrap;
}

.lowerFooter a {
    text-decoration: none;
    color: #FFFDF9;
    cursor: pointer;
}

@media (min-width: 1024px) {
    .SocialMedia {
        display: flex;
        flex-direction: column;
    }

    .SocialMediaIcons {
        display: none;
    }
}

@media (max-width: 1024px) {
    .main_header {
        display: none;
    }

    .burger_header {
        display: flex;
        align-items: center;
        padding: 16px;
    }

    .burger_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .burger-logo {
        width: 123px;
        height: 46px;
    }

    .burger-button {
        width: 46px;
        height: 46px;
        background-color: #6B2B00;
        border-radius: 8px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
    }

    #burger-language {
        padding: 11px 12px;
        width: 8 0px;
        border-radius: 8px;
        position: relative;
        border: 1px, solid, #6B2B00;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    #burger-language img {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
    }

    .burgerSelect {
        width: 100%;
        padding-left: 30px;
        border: none;
        outline: none;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 1%;
        color: #6B2B00;
        width: 100%;
    }

    .close-button {
        align-self: flex-end;
        width: 40px;
        height: 40px;
        background-color: white;
        border-radius: 8px;
        border: 1px, solid, #6B2B00;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: #6B2B00;
    }



    /* Мобильное меню */
    .mobile-menu {
        position: fixed;
        box-sizing: border-box;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        display: none;
        flex-direction: column;
        padding: 24px;
        z-index: 999;
        background-image: url('/images/starsCornerbottom.png');
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .mobile-menu.active {
        display: flex;
    }

    .moblebuttonAndText {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .moblebuttonAndText h2 {
        font-family: "AA Stetica Regular";
        font-weight: 700;
        font-size: 30px;
        line-height: 110%;
        letter-spacing: 0%;
        text-align: center;
        text-transform: uppercase;
        color: #6B2B00;

    }

    .Navigations {
        margin-top: 20px;
        justify-content: center;
        gap: calc(30px + (140 - 30) * ((100vw - 350px) / (1920 - 350)));
        display: flex;
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 20px;
    }

    .mobile-nav a img {
        max-width: 15px;
        max-height: 15px;
        border: 1px solid #6b2b00a2;
        border-radius: 8px;
        padding: 5px;
    }

    .mobile-nav a {
        color: #6B2B00;
        text-decoration: none;
        font-family: "AA Stetica Regular";
        font-weight: 400;
        font-size: calc(16px + (40 - 16) * ((100vw - 350px) / (1920 - 350)));
        line-height: 130%;
        letter-spacing: 1%;
        display: flex;
        gap: 8px;
        justify-content: start;
        align-items: center;
    }

    .mobile-nav a:hover {
        text-decoration: underline;
    }


    .mobileContacts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: center;
        margin-top: 64px;
        background-color: #fffdf991;
    }

    .mobileContacts .Address,
    .social-media {
        grid-column: 1/3;
        border: 1px solid #6B2B00;
        border-radius: 16px;
        padding: 20px;
    }

    .social-media {
        border: none;
        text-align: center;
    }

    .social-media a {
        border: 1px solid #6B2B00;
    }

    .mobileContacts .Time,
    .mobileContacts .phoneAndEmail {
        height: 125px;
        border: 1px solid #6B2B00;
        border-radius: 16px;
        padding: 20px;
    }

    .mobileContacts .Address h4,
    .mobileContacts .Time h4,
    .mobileContacts .phoneAndEmail h4 {
        font-family: "AA Stetica Regular";
        font-weight: 700;
        font-size: calc(20px + (40 - 20) * ((100vw - 350px) / (1920 - 350)));
        line-height: 130%;
        letter-spacing: 1%;
        color: #6B2B00;
        margin-bottom: 20px;
    }

    .mobileContacts .Address p,
    .mobileContacts .Time p,
    .mobileContacts .phoneAndEmail p {
        font-family: "AA Stetica Regular";
        font-weight: 400;
        font-size: calc(16px + (30 - 16) * ((100vw - 350px) / (1920 - 350)));
        line-height: 130%;
        letter-spacing: 1%;
        color: #6B2B00;
        max-width: 300px;
    }

    .phoneAndEmail a {
        text-decoration: none;
    }

    /*----- Ремесленникам ----- */

    .crafts_text h2 {
        text-align: center;
        text-indent: 0;
    }

    .crafts_icon {
        display: none;
    }

    .crafts_paragraphs {
        align-items: center;
        text-align: center;
    }

    /*Возможности */

    .facilities-header {
        display: flex;
        text-align: center;
        flex-direction: column;
    }

    .facilities-header .swiper-button-next-facilities,
    .facilities-header .swiper-button-prev-facilities {
        display: flex;
    }

    .swiper-nav-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 16px;
    }

    .swiper-button-prev-facilities,
    .swiper-button-next-facilities {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 53px;
        height: 53px;
        background-color: #fff;
        border: 2px solid #6B2B00;
        border-radius: 16px;
        cursor: pointer;
        color: #6B2B00;
    }


    .swiper-button-prev-facilities:hover {
        color: #fff;
        background-color: #6B2B00;

    }

    .swiper-button-next-facilities:hover {
        color: #fff;
        background-color: #6B2B00;

    }

    .choosing_parkGallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        gap: 20px;
        align-items: stretch;
    }

    .choosing_parkGallery .choosing_photo_card.large {
        grid-column: span 1;
        grid-row: span 2;
    }

    .choosing_parkGallery .choosing_photo_card.medium {
        grid-column: span 2;
        grid-row: span 1;
    }

    /*----- Как арендовать----- */

    .HowToRent_text h2 {
        text-indent: 0;
        text-align: center;
    }

    .HowToRent_paragraphs {
        border: none;
    }

    /*----- Вопросы ----- */
    .faq-block h2 {
        text-align: center;
    }

    .map {
        position: relative;
        width: 100%;
        height: 500px;
    }

    /*----- Футер----- */
    footer {
        background-image: url('/images/starsfooterRightCorner.png');
        background-repeat: no-repeat;
        background-position: right top;
    }

    .lowerFooter {
        gap: 16px 140px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .upperFooter {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 40px 0;
    }

    .SocialMedia {
        display: none;
    }

    .SocialMediaIcons {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .iconsNav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }

    .iconsNav a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        padding: 6px;
        background-color: #FFFDF9;
        border-radius: 100%;
    }

    .form-row {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .contactsInfo {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width:680px) {
    .choosing_parkGallery {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}