@font-face {
    font-family: "AA Stetica Regular";
    src: url(../fonts/AA-Stetica-Regular-BF6749235ad0084.otf);
}

@font-face {
    font-family: "Cormorant SC";
    src: url(../fonts/Cormorant_SC/CormorantSC-Regular.ttf);
}

@font-face {
    font-family: "Czizh";
    src: url(../fonts/czizh/Czizh\ Body.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
}

/*----------Хэдер----------*/
.upper_header {
    padding: 17px calc(20px + (100 - 20) * ((100vw - 350px) / (1920 - 350)));
    gap: calc(5px + (76 - 5) * ((100vw - 350px) / (1920 - 350)));
    font-family: "AA Stetica Regular";
    display: flex;
    justify-content: center;
}

.Logo img {
    width: 124px;
    height: 46px;
}

.Text_nav,
.Text_info {
    display: flex;
    gap: calc(5px + (76 - 5) * ((100vw - 350px) / (1920 - 350)));
    color: #6B2B00;
}

.Text_nav h2,
.Text_info p {
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 1%;
}

.Text_nav p,
.Text_info h2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 1%;

}

.Text_nav a,
.Text_info a {
    text-decoration: none;
    color: #6B2B00;
}

.Text_info a {
    font-weight: 700;
}

.lower_header {
    padding: 32px calc(20px + (100 - 20) * ((100vw - 350px) / (1920 - 350)));
    gap: calc(5px + (150 - 5) * ((100vw - 350px) / (1920 - 350)));
    display: flex;
    justify-content: center;
    background-color: #6B2B00;
    font-family: "AA Stetica Regular";
}

.lower_header nav {
    display: flex;
    gap: calc(5px + (140 - 5) * ((100vw - 350px) / (1920 - 350)));

}

.lower_header nav a {
    text-decoration: none;
    white-space: nowrap;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 1%;
    transition: all 300ms ease;

}

.lower_header nav a:hover {
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
    color: #fff;
}

.Language {
    display: flex;
    gap: 10px;
}

#Choose_language {
    background-color: #6B2B00;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 1%;
    outline: none;
    border: none;
    cursor: pointer;
}

.main_header {
    display: flex;
    flex-direction: column;
}

.burger_header {
    display: none;
}

.selectAndBurger {
    display: flex;
    gap: 16px;
}

.breadcrumbs {
    font-family: "AA Stetica Regular";
    font-size: 18px;
    color: #6B2B00;
}


/* ------ Главный экран о парке ------ */
/* ------ Хлебные крошки ------ */
.breadcrumbs a {
    color: #382D2D;
    text-decoration: none;
    font-family: "AA Stetica Regular";
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 1%;

}

.breadcrumbs span a {
    color: #382D2D80;
}

main {
    background-image: url('../images/stars_main_aboutPark.png');
    background-repeat: no-repeat;
    background-position: right top;
}

.HeadingAboutPark .about_parkText {
    padding: calc(48px + (80 - 48) * ((100vw - 350px) / (1920 - 350))) calc(17px + (100 - 17) * ((100vw - 350px) / (1920 - 350))) 0;
}

.HeadingAboutPark h1 {
    font-family: "Cormorant SC";
    font-weight: 700;
    font-size: calc(64px + (180 - 64) * ((100vw - 350px) / (1920 - 350)));
    line-height: 100%;
    text-transform: uppercase;
    color: #81332F;
    margin-top: calc(24px + (56 - 24) * ((100vw - 350px) / (1920 - 350)));

}

.HeadingAboutPark img {
    object-fit: cover;
    width: 100%;
    max-height: calc(200px + (534 - 200) * ((100vw - 350px) / (1920 - 350)));
    margin-top: calc(24px + (100 - 24) * ((100vw - 350px) / (1920 - 350)));
}

/* ------ Символ единства ------ */
.Symbol_aboutPark {
    background-image: url('../images/about_park_starsText.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: calc(64px + (200 - 64) * ((100vw - 350px) / (1920 - 350))) calc(20px + (100 - 20) * ((100vw - 350px) / (1920 - 350))) 0;
}

.Symbol_text h2 {
    font-family: "Cormorant SC";
    font-weight: 700;
    font-size: calc(30px + (48 - 30) * ((100vw - 350px) / (1920 - 350)));
    line-height: 110%;
    text-indent: 167.5px;
    text-transform: uppercase;
    color: #6B2B00;
    max-width: 1065px;
}

.symbol_paragraphs {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-left: auto;
    text-align: start;
    max-width: 927px;
    margin-top: calc(24px + (32 - 24) * ((100vw - 350px) / (1920 - 350)));
    border-bottom: 1px solid #6B2B00;
}

.symbol_paragraphs p {
    max-width: 671px;
    font-family: "AA Stetica Regular";
    font-weight: 300;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
    color: #382D2D;
    margin-bottom: 16px;
}

.Symbol_numbers {
    display: flex;
    justify-content: space-between;
    margin-top: calc(40px + (70 - 40) * ((100vw - 350px) / (1920 - 350)));
}

.Symbol_numbers h3 {
    font-family: "Cormorant SC";
    font-weight: 700;
    font-size: calc(48px + (72 - 48) * ((100vw - 350px) / (1920 - 350)));
    line-height: 110%;
    font-variant-numeric: lining-nums tabular-nums;
    text-transform: uppercase;
    color: #6B2B00;
}

.Symbol_numbers p {
    font-family: "AA Stetica Regular";
    font-weight: 400;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
    color: #6B2B00;
    max-width: 361px;
}

.Symbol_numbers h3 span {
    font-size: 48px;
    line-height: 110%;
    font-variant-numeric: lining-nums tabular-nums;
}

/* ------ Уголки парка ------ */
.parkCorners-swiper {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.parkCorners {
    padding: calc(120px + (200 - 120) * ((100vw - 350px) / (1920 - 350))) calc(20px + (100 - 20) * ((100vw - 350px) / (1920 - 350))) 0
}

.parkCorners h2 {
    font-family: "Cormorant SC";
    font-weight: 700;
    font-size: calc(30px + (48 - 30) * ((100vw - 350px) / (1920 - 350)));
    line-height: 110%;
    text-transform: uppercase;
    color: #6B2B00;
    margin: calc(24px + (56 - 24) * ((100vw - 350px) / (1920 - 350)));

}

/* ------ Уголки парка карта ------ */

.MapWithText {
    display: flex;
    gap: 20px;
}

.map-container {
    flex: 1;
    position: relative;
}

#map {
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    height: 33rem;
}

.map-overlay {
    position: absolute;
    inset: 0;
    z-index: 10;
    background: transparent;
    cursor: pointer;
}

.MapWithText.active .map-overlay {
    display: none;
}

#infoPanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    flex: 1;
    padding: 40px;
    border: 1px solid #6B2B00;
    border-radius: 16px;
}

#infoPanel img {
    position: absolute;
    object-fit: contain;
    top: 57%;
    left: 0.5%;
}

#infoPanel h3 {
    font-family: "AA Stetica Regular";
    font-weight: 700;
    font-size: calc(18px + (22 - 18) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
    color: #6B2B00;
    margin-bottom: calc(8px + (16 - 8) * ((100vw - 350px) / (1920 - 350)));
}

#infoPanel p {
    font-family: "AA Stetica Regular";
    font-weight: 300;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;

}

#infoPanel .infoNav {
    display: flex;
    gap: 10px;
    justify-content: end;
}

#infoPanel .infoNav .Navbutton {
    width: 53px;
    height: 53px;
    border: 1px solid #6B2B00;
    background-color: #FFFDF9;
    border-radius: 16px;
    color: #6B2B00;

}

.map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    cursor: pointer;
    background: transparent;
}

.MapWithText.active .map-overlay {
    display: none;
}

.MapWithText {
    position: relative;
}

#infoPanel .infoNav .Navbutton:hover {

    background-color: #6B2B00;
    color: #FFFDF9;

}

.marker-wrapper {
    transform: translate(-50%, -100%);
    position: relative;
    cursor: pointer;
    z-index: 10;
}

#infoContent>ymaps,
#infoContent .ymaps3x0--map-copyrights {
    display: none !important;
}

.custom-marker {
    background-color: #56db40;
    color: white;
    font-weight: bold;
    font-size: 10px;
    padding: 6px 2px;
    border-radius: 50%;
    text-align: center;
    min-width: 20px;
    position: relative;
}

.custom-marker::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -4px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #56db40;
}


.cornerswiper-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid #6B2B00;
    border-radius: 16px;
    padding: 24px;
    background-color: #fff;
    background-image: url('/images/stars_leftbottom.png');
    background-repeat: no-repeat;
    background-position: left bottom;
}

.cornerswiper-text .swiper-wrapper {
    flex: 1;
}

.cornerswiper-text .swiper-slide {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: calc(8px + (16 - 8) * ((100vw - 350px) / (1920 - 350)));

}

.cornerswiper-text h3 {
    font-family: "AA Stetica Regular";
    font-weight: 700;
    font-size: calc(18px + (22 - 18) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
    color: #6B2B00;
}

.cornerswiper-text p {
    font-family: "AA Stetica Regular";
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
    color: #6B2B00;
}

.cornerswiper-text .swiper-nav-buttons {
    justify-content: end;
}

.swiper-nav-buttons {
    display: flex;
    justify-content: end;
    gap: 5px;
}

.swiper-button-prev-corner,
.swiper-button-next-corner {

    width: 53px;
    height: 53px;
    background-color: #fff;
    border: 2px solid #6B2B00;
    border-radius: 16px;
    cursor: pointer;
    color: #6B2B00;
}

.swiper-button-prev-corner:hover,
.swiper-button-next-corner:hover {
    background-color: #6B2B00;
    color: #FFFDF9;
}

/* ------ Где побывать галлерея ------ */
.What-to-whatch {
    padding: calc(120px + (200 - 120) * ((100vw - 350px) / (1920 - 350))) calc(20px + (100 - 20) * ((100vw - 350px) / (1920 - 350))) 0
}

.What-to-whatch h2 {
    font-family: "Cormorant SC";
    font-weight: 700;
    font-size: calc(30px + (48 - 30) * ((100vw - 350px) / (1920 - 350)));
    line-height: 110%;
    text-transform: uppercase;
    color: #6B2B00;
    margin-bottom: calc(24px + (56 - 24) * ((100vw - 350px) / (1920 - 350)));
    text-align: center;
}

.Gallery h2 {
    max-width: 1132px;
    font-family: "Cormorant SC";
    font-weight: 700;
    font-size: calc(30px + (48 - 30) * ((100vw - 350px) / (1920 - 350)));
    line-height: 110%;
    text-indent: 167.5px;
    text-transform: uppercase;
    color: #6B2B00;

}

.what-to-watch-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 16px;
}

.what-to-watch-gallery .gallery-item {
    position: relative;
    height: 250px;
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
}

.what-to-watch-gallery .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.4s ease;
}

.gallery-item .photo-gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0)50%, rgba(0, 0, 0, 0.5) 100%);
    pointer-events: none;
}

.what-to-watch-gallery .gallery-item p {
    position: absolute;
    bottom: 12px;
    left: 12px;
    right: 12px;
    color: #FFFDF9;
    font-family: "AA Stetica Regular";
    font-weight: 300;
    font-size: 22px;
    line-height: 130%;
    letter-spacing: 1%;
    text-transform: uppercase;
    text-decoration: underline;
    z-index: 99;
}

.what-to-watch-gallery .gallery-item:hover img {
    transform: scale(1.05);
}

.what-to-watch-gallery .gallery-item.large {
    grid-column: span 2;
    grid-row: span 2;
    height: 520px;
}

.what-to-watch-gallery .gallery-item.medium {
    grid-column-start: 2;
    grid-column-end: 4;
}

/* ------ Галлерея ------ */
.Gallery,
.lastNews,
.planningForm,
.sponsors,
.Certificates {
    padding: calc(120px + (200 - 120) * ((100vw - 350px) / (1920 - 350))) calc(20px + (100 - 20) * ((100vw - 350px) / (1920 - 350))) 0
}

.filters-buttons {
    display: none;
}

.filters-buttons-swiper {
    position: relative;
    padding: 20px 0;
    margin: 20px auto;
    max-width: 400px;

}


.filters-buttons-swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-btn {
    padding: 16px clamp(30px, 2vw, 40px);
    background: white;
    outline: none;
    border: 1px solid #6B2B00;
    border-radius: 16px;
    font-family: "AA Stetica Regular";
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350))) calc(20px + (100 - 20) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
    white-space: nowrap;
    color: #6B2B00;
}

.filter-btn:hover,
.filter-btn.active {
    background-color: #6B2B00;
    color: #fff;
}

.swiper-button-filter-prev,
.swiper-button-filter-next {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    width: 53px;
    height: 53px;
    background-color: #fff;
    border: 2px solid #6B2B00;
    border-radius: 16px;
    cursor: pointer;
    color: #6B2B00;
    z-index: 10;
}


.swiper-button-filter-prev:hover {
    color: #fff;
    background-color: #6B2B00;

}

.swiper-button-filter-prev {
    left: 10px;
}

.swiper-button-filter-next {
    right: 10px;
}

.swiper-button-filter-next:hover {
    color: #fff;
    background-color: #6B2B00;

}

.filter-text {
    font-family: "AA Stetica Regular";
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 1%;
    color: #6B2B00;
    padding: 0 12px;
    cursor: pointer;
    user-select: none;
}

/*Сама фото галлерея*/
.show-more-btn {
    width: 100%;
    height: calc(53px + (70 - 53) * ((100vw - 350px) / (1920 - 350)));
    margin-top: calc(40px + (54 - 40) * ((100vw - 350px) / (1920 - 350)));
    background-color: #6B2B00;
    border: 1px solid #6B2B00;
    border-radius: 16px;
    font-family: "AA Stetica Regular";
    font-size: 20px;
    line-height: 130%;
    color: #FFFDF9;
    cursor: pointer;
}

.show-more-btn:hover {
    background-color: #8a3c00;
}

.photoGallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-top: calc(40px + (54 - 40) * ((100vw - 350px) / (1920 - 350)));
}

.gallery-grid-item img {
    width: 100%;
    max-height: 330px;
    border-radius: 12px;
    object-fit: cover;
    background-color: linear-gradient(180deg, rgba(0, 0, 0, 0) 45.4%, rgba(0, 0, 0, 0.5) 100%);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery-grid-item img:hover {
    transform: scale(1.03);
}

.gallery-grid-item .photo-gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 45.4%, rgba(0, 0, 0, 0.5) 100%);
    pointer-events: none;
}


.photo-title {
    position: absolute;
    bottom: 8px;
    left: 8px;
    right: 8px;
    font-family: "AA Stetica Regular";
    font-size: 22px;
    line-height: 130%;
    text-transform: uppercase;
    text-decoration: underline;
    color: #FFFDF9;
    padding: 4px 8px;
    border-radius: 4px;
}

.gallery-grid-item {
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

/* Широкие плитки для первых двух */
.gallery-grid-item {
    grid-column: span 1;
}

.gallery-grid-item.wide-2 {
    grid-column: span 2;
}

.gallery-grid-item.wide-3 {
    grid-column: span 3;
}

.gallery-img:hover {
    transform: scale(1.03);
}

/* Модалка */
.image-modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.image-modal img {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    display: block;
    border-radius: 10px;
}

.close-modal {
    position: absolute;
    top: 32px;
    right: 32px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

/*сертификаты*/
.Certificates-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.Certificates-heading h2 {
    font-family: "Cormorant SC";
    font-weight: 700;
    font-size: calc(30px + (48 - 30) * ((100vw - 350px) / (1920 - 350)));
    line-height: 110%;
    text-transform: uppercase;
    color: #6B2B00;
}

.swiper-nav-buttons {
    display: flex;
    gap: 12px;
}

.swiper-nav-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #6B2B00;
    border: 1px solid #6B2B00;
    border-radius: 16px;
    width: 56px;
    height: 56px;
    cursor: pointer;

}

.certificateSwiper {
    margin-top: 20px;
}

.swiper-nav-buttons button:hover {
    background-color: #7a4000;
    color: white;
}

.certificateSwiper .swiper-slide .card {
    border: 1px, solid, #6B2B00;
    padding: calc(16px + (24 - 16) * ((100vw - 350px) / (1920 - 350)));
    border-radius: 16px;

}

.certificateSwiper .swiper-slide .card .cardImg img {
    width: 100%;
    border-radius: 16px;
}

.certificateSwiper .swiper-slide .card .cardText {
    margin-top: calc(16px + (24 - 16) * ((100vw - 350px) / (1920 - 350)));
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.certificateSwiper .swiper-slide .card .cardText h3 {
    font-family: "AA Stetica Regular";
    color: #382D2D;
    font-weight: 700;
    font-size: calc(18px + (22 - 18) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
}

.certificateSwiper .swiper-slide .card .cardText p {
    font-family: "AA Stetica Regular";
    color: #382D2D;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
}

.certificateSwiper .swiper-slide .card .cardData p {
    margin-top: calc(24px + (32 - 24) * ((100vw - 350px) / (1920 - 350)));
    display: flex;
    gap: 11px;
    font-family: "AA Stetica Regular";
    color: #382D2D;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
}


/*Спонсоры*/
.sponsors h2 {
    font-family: "Cormorant SC";
    font-weight: 700;
    font-size: calc(30px + (48 - 30) * ((100vw - 350px) / (1920 - 350)));
    line-height: 110%;
    text-transform: uppercase;
    color: #6B2B00;
    text-align: center;

}

.partnersSwiper .swiper-slide {
    width: auto;
}

.partner-card {
    margin-top: calc(24px + (48 - 24) * ((100vw - 350px) / (1920 - 350)));
    padding: 16px 24px;
    border: 1px solid #6B2B00;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partner-card img {
    max-height: 60px;
}

/*Форма для отправки*/
.planningForm h2 {
    font-family: "Cormorant SC";
    font-weight: 700;
    font-size: calc(30px + (48 - 30) * ((100vw - 350px) / (1920 - 350)));
    line-height: 110%;
    text-transform: uppercase;
    text-align: center;
    color: #6B2B00;

}

.planningForm p {
    font-family: "AA Stetica Regular";
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 1%;
    text-align: center;
    margin: 16px 0 48px 0;
}

.planningForm {
    background: url('/images/starsForm.png');
    background-repeat: no-repeat;
    background-position: left;
}

.Form {
    margin: 0 calc(20px + (100 - 20) * ((100vw - 350px) / (1920 - 350)));
}

.contact-form {
    width: 100%;
}

.form-row {
    display: flex;
    gap: 16px;
    width: 100%;
}

.form-group {
    position: relative;
    width: 100%;
}

.form-group svg {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    pointer-events: none;
}

.comments svg {
    position: absolute;
    top: 20%;
    right: 20px;
    transform: translateY(-50%);
    pointer-events: none;
}


.form-group input {
    width: 100%;
    padding: 16px;
    border: 1px solid #6B2B00;
    border-radius: 16px;
    font-family: "AA Stetica Regular";
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 1%;
    outline: none;
    box-sizing: border-box;
}

.form-group textarea {
    margin: 16px 0;
    width: 100%;
    height: 180px;
    padding: 16px;
    border: 1px solid #6B2B00;
    border-radius: 16px;
    font-family: "AA Stetica Regular";
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 1%;
    outline: none;
    box-sizing: border-box;
}

.submit-btn {
    display: block;
    width: 100%;
    background-color: #6B2B00;
    color: #fff;
    font-size: 16px;
    padding: 16px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    margin-bottom: 8px;
    transition: background 0.3s;
}

.submit-btn:hover {
    background-color: #8a3c00;
}

.contact-form .form-policy {
    font-size: 12px;
    color: #333;
    text-align: center;
}

.contactsInfo {
    margin: calc(64px + (200 - 64) * ((100vw - 350px) / (1920 - 350))) calc(20px + (100 - 20) * ((100vw - 350px) / (1920 - 350)));
    display: flex;
    gap: 20px;
}

.contacts {
    flex: 1;
}

.address {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: #6B2B00;
    color: #fff;
    border-radius: 16px;
}

.address h4 {
    margin-bottom: calc(24px + (40 - 24) * ((100vw - 350px) / (1920 - 350)));
    font-family: "AA Stetica Regular";
    font-weight: 400;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;

}

.address p {
    font-family: "AA Stetica Regular";
    font-weight: 700;
    font-size: calc(18px + (22 - 18) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
}

.map {
    flex: 1;
}

.map iframe {
    border-radius: 16px;
    width: 100%;
}

.contact-data {
    display: flex;
    margin-top: 20px;
    gap: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
}

.contact-data .phone {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: calc(24px + (40 - 24) * ((100vw - 350px) / (1920 - 350)));
    border: 1px solid #6B2B00;
    border-radius: 16px;
    width: 100%;
}

.contact-data .phone a {
    text-decoration: none;
}

.contact-data .phone h4,
.time h4,
.howToReach h4 {
    font-family: "AA Stetica Regular";
    font-weight: 300;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
    color: #382D2D;
}

.contact-data .phone p,
.time p {
    font-family: "AA Stetica Regular";
    font-weight: 700;
    font-size: calc(18px + (22 - 18) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;

    color: #382D2D;
}

.contact-data .time {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: calc(24px + (40 - 24) * ((100vw - 350px) / (1920 - 350)));

    border: 1px solid #6B2B00;
    border-radius: 16px;
    width: 100%;
}

.howToReach {
    display: flex;
    flex-direction: column;
    border: 1px solid #6B2B00;
    border-radius: 16px;
    padding: 24px;
    margin-top: calc(16px + (24 - 16) * ((100vw - 350px) / (1920 - 350)));
    gap: calc(24px + (40 - 24) * ((100vw - 350px) / (1920 - 350)));
}

.howToReach .Bus h4,
.subway h4 {
    font-weight: 700;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
    margin-bottom: 8px;
}

.howToReach .Bus p {
    font-family: "AA Stetica Regular";
    font-weight: 300;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;

}

.subway-stations {
    display: flex;
    gap: 8px 24px;
    flex-wrap: wrap;
}

.metro {
    display: flex;
    gap: 10px;
    font-family: "AA Stetica Regular";
    font-weight: 300;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;

}

.map {
    position: relative;
    width: 690px;
}

.map iframe {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.map.active iframe {
    pointer-events: auto;
}

.map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 2;
    background: transparent;
}

/* ------ Футер ------ */
footer {
    background-color: #6B2B00;
    background-image: url('/images/starsforFooter.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    padding: calc(32px + (64 - 32) * ((100vw - 350px) / (1920 - 350))) 100px 0;
}

.upperFooter {
    display: flex;
    justify-content: space-between;
    margin-bottom: calc(32px + (64 - 32) * ((100vw - 350px) / (1920 - 350)));
}

.Navigation h4,
.SocialMedia h4,
.ContactsAndAddress h4,
.SocialMediaIcons h4 {
    font-family: "AA Stetica Regular";
    font-weight: 700;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
    color: #FFFDF9;
    margin-bottom: 16px;
}

.Navigation nav,
.ContactsAndAddress p {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
    font-family: "AA Stetica Regular";
    font-weight: 300;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
    color: #FFFDF9;
}

.Navigation nav a {
    text-decoration: none;
    color: #FFFDF9;
}

.SocialMedia {
    gap: 8px 0;
    font-family: "AA Stetica Regular";
    font-weight: 300;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
}

.SocialMedia a {
    text-decoration: underline;
    color: #FFFDF9;
}

.ContactsAndAddress {
    display: flex;
    flex-direction: column;
    gap: 40px 0;
}

.ContactsAndAddress a {
    text-decoration: none;
}

.lowerFooter {
    display: flex;
    padding: 40px 0;
    justify-content: space-between;
    border-top: 1px solid #FFFDF980;
    font-family: "AA Stetica Regular";
    font-weight: 400;
    font-size: calc(16px + (20 - 16) * ((100vw - 350px) / (1920 - 350)));
    line-height: 130%;
    letter-spacing: 1%;
    color: #FFFDF9;
    flex-wrap: wrap;
}

.lowerFooter a {
    text-decoration: none;
    color: #FFFDF9;
    cursor: pointer;
}


@media (min-width: 1024px) {
    .filters-buttons {
        display: flex;
        position: relative;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 20px;
    }

    .filters-buttons-swiper {
        display: none;
    }

    .SocialMedia {
        display: flex;
        flex-direction: column;
    }

    .SocialMediaIcons {
        display: none;
    }
}

@media (max-width:1024px) {
    .main_header {
        display: none;
    }

    .burger_header {
        display: flex;
        align-items: center;
        padding: 16px;
    }

    .burger_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .burger-logo {
        width: 123px;
        height: 46px;
    }

    .burger-button {
        width: 46px;
        height: 46px;
        background-color: #6B2B00;
        border-radius: 8px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
    }

    #burger-language {
        padding: 11px 12px;
        width: 8 0px;
        border-radius: 8px;
        position: relative;
        border: 1px, solid, #6B2B00;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    #burger-language img {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
    }

    .burgerSelect {
        width: 100%;
        padding-left: 30px;
        border: none;
        outline: none;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 1%;
        color: #6B2B00;
        width: 100%;
    }

    .close-button {
        align-self: flex-end;
        width: 40px;
        height: 40px;
        background-color: white;
        border-radius: 8px;
        border: 1px, solid, #6B2B00;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: #6B2B00;
    }



    /* Мобильное меню */
    .mobile-menu {
        position: fixed;
        box-sizing: border-box;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        display: none;
        flex-direction: column;
        padding: 24px;
        z-index: 999;
        background-image: url('/images/starsCornerbottom.png');
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .mobile-menu.active {
        display: flex;
    }

    .moblebuttonAndText {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .moblebuttonAndText h2 {
        font-family: "AA Stetica Regular";
        font-weight: 700;
        font-size: 30px;
        line-height: 110%;
        letter-spacing: 0%;
        text-align: center;
        text-transform: uppercase;
        color: #6B2B00;

    }

    .Navigations {
        margin-top: 20px;
        justify-content: center;
        gap: calc(30px + (140 - 30) * ((100vw - 350px) / (1920 - 350)));
        display: flex;
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 20px;
    }

    .mobile-nav a img {
        max-width: 15px;
        max-height: 15px;
        border: 1px solid #6b2b00a2;
        border-radius: 8px;
        padding: 5px;
    }

    .mobile-nav a {
        color: #6B2B00;
        text-decoration: none;
        font-family: "AA Stetica Regular";
        font-weight: 400;
        font-size: calc(16px + (40 - 16) * ((100vw - 350px) / (1920 - 350)));
        line-height: 130%;
        letter-spacing: 1%;
        display: flex;
        gap: 8px;
        justify-content: start;
        align-items: center;
    }

    .mobile-nav a:hover {
        text-decoration: underline;
    }


    .mobileContacts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: center;
        margin-top: 64px;
        background-color: #fffdf991;
    }

    .mobileContacts .Address,
    .social-media {
        grid-column: 1/3;
        border: 1px solid #6B2B00;
        border-radius: 16px;
        padding: 20px;
    }

    .social-media {
        border: none;
        text-align: center;
    }

    .social-media a {
        border: 1px solid #6B2B00;
    }

    .mobileContacts .Time,
    .mobileContacts .phoneAndEmail {
        height: 125px;
        border: 1px solid #6B2B00;
        border-radius: 16px;
        padding: 20px;
    }

    .mobileContacts .Address h4,
    .mobileContacts .Time h4,
    .mobileContacts .phoneAndEmail h4 {
        font-family: "AA Stetica Regular";
        font-weight: 700;
        font-size: calc(20px + (40 - 20) * ((100vw - 350px) / (1920 - 350)));
        line-height: 130%;
        letter-spacing: 1%;
        color: #6B2B00;
        margin-bottom: 20px;
    }

    .mobileContacts .Address p,
    .mobileContacts .Time p,
    .mobileContacts .phoneAndEmail p {
        font-family: "AA Stetica Regular";
        font-weight: 400;
        font-size: calc(16px + (30 - 16) * ((100vw - 350px) / (1920 - 350)));
        line-height: 130%;
        letter-spacing: 1%;
        color: #6B2B00;
        max-width: 300px;
    }

    .phoneAndEmail a {
        text-decoration: none;
    }

    .Swiper_text {
        justify-content: center;
    }

    .Swiper_text p {
        text-align: center;
    }

    .HeadingAboutPark img {
        object-fit: cover;
    }

    .Symbol_aboutPark {
        background: none;
    }


    .Symbol_text h2 {
        width: 100%;
        text-align: center;
        text-indent: 0px;

    }

    .symbol_paragraphs {
        justify-content: center;
        text-align: center;
        margin-left: 0;
    }

    .Symbol_numbers {
        background: url('/images/about_park_starsMobile.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        gap: 48px;
    }

    .parkCorners h2 {
        text-align: center;
        justify-content: center;
    }

    /* ------ Уголки парка карта ------ */

    .MapWithText {
        display: flex;

        flex-direction: column-reverse;
        gap: 20px;
    }

    #map {
        flex: auto;
    }


    #infoPanel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
        position: relative;
        height: 32rem;
        padding: 24px;
        border: none;
        text-align: center;
    }

    #infoPanel img {
        display: none;
    }

    #infoPanel .infoNav {
        justify-content: center;
    }

    /* ------ Что посмотреть ------ */

    .what-to-watch-gallery {
        display: flex;
        flex-direction: column;
        max-height: 100%;
        gap: 16px;
    }

    .what-to-watch-gallery .gallery-item.large {
        height: 250px;
        max-height: 100%;
    }

    .Gallery h2 {
        width: 100%;
        text-align: center;
        justify-content: center;
        text-indent: 0;
    }

    .Certificates-heading {
        display: flex;
        gap: 24px;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-bottom: 16px;
    }

    .photoGallery {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .form-row {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .contactsInfo {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .map {
        position: relative;
        width: 100%;
        height: 500px;
    }

    footer {
        background-image: url('/images/starsfooterRightCorner.png');
        background-repeat: no-repeat;
        background-position: right top;
    }

    .lowerFooter {
        gap: 16px 140px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .upperFooter {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 40px 0;
    }

    .SocialMedia {
        display: none;
    }

    .SocialMediaIcons {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .iconsNav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }

    .iconsNav a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        padding: 6px;
        background-color: #FFFDF9;
        border-radius: 100%;
    }
}

@media (max-width: 680px) {
    .busineses {
        display: flex;
        flex-direction: column;
    }

    .events-header {
        flex-direction: column;
        text-align: center;
        gap: 24px;
    }

    .uniquePark-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 24px;
    }

    .contact-data {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}